<h1 class="page-header">Make a new truck</h1>

<form class="form-inline" method="POST" action="/trucks">
  <label class="lead">Tour Name or Artist Name:</label>
  <input class="form-control" type="text" name="name">

  <input type="submit" value="Submit" class="form-control">
</form>