<h1>Edit Truck</h1>

<form method="POST" action="/trucks/<%= @truck.id %>">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label>Tour Name or Artist Name:</label>
  <input type="text" name="name" value="<%= @truck.name %>">

  <input type="submit" value="Update Truck">
</form>