<h1><%= @truck.name %></h1>
<% if !@truck.items.empty? %>
  <h2>Equipment on Truck</h2>
  <% @truck.items.each do |item| %>
    <%= item.name %> - Value: $<%= item.value %>
  <% end %>
<% else %>
  <h2>This truck is empty</h2>
<% end %>