<h1><%= @truck.name %></h1>
<% if !@truck.items.empty? %>
  <h2>Equipment on Truck</h2>
  <% @truck.items.each do |item| %>
    <%= item.name %> - Value: $<%= item.value %>
  <% end %>
<% else %>
  <h2>This truck is empty</h2>
<% end %>

<form method="POST" action="/trucks/<%= @truck.id %>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Truck">
</form>