<h1 class="page-header"><%= @user.username.capitalize %>'s Trucks</h1>

<% @user.trucks.each do |truck| %>
  <h2><%= truck.name %></h2>
  <h3>Equipment</h3>
  <% truck.items.each do |item| %>
    <%= item.name %>: $<%= item.value %>
  <% end %>
<% end %>