<h1>Login to Roadie!</h1>
<form method="POST" action="/login">
  <label>Username:</label>
  <input type="text" name="username" required>
  <label>Password:</label>
  <input type="password" name="password" required>
  <input type="submit" value="Login">
</form>