<h1 class="page-header">Profile Settings</h1>

<p class="lead">You are currently managing <%= @user.trucks.size %> truck<%= 's' if @user.trucks.size > 1%>, with a total of <%= @user.items.size %>item<%= 's' if @user.items.size > 1%></p>

