<h1>Add Equipment</h1>
<form method="POST" action="/equipment">
  <label>Name:</label>
  <input type="text" name="name">
  <label>Value:</label>
  <input type="number" name="value">
  <h2>Select an Existing Truck or Create New Truck</h2>
  <label>Select Existing Truck:</label>
  <select name="truck">
    <option value="">No, I want to Create New Truck</option>
    <% current_user.trucks.each do |truck| %>
      <option name="truck" value="<%= truck.name %>"><%= truck.name %></option>
    <% end %>
  </select>
  <label><b>or</b> Create New Truck:</label>
  <input type="text" name="new_truck">
  <input type="submit" value="Submit">
</form>