<h1 class="page-header"><%= @user.username.capitalize %>'s Equipment</h1>
<% @user.items.each do |item| %>
 <div class="col-md-6"><a href="/equipment/<%= item.id %>" class="btn btn-lg btn-default"><%= item.name %></a> <p>Value: $<%= item.value %></p></div>
<% end %>