<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Roadie - Band Road Equipment Management</title>
  <!-- Bootstrap -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/cover.css" rel="stylesheet">
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>
<body>
  <div class="site-wrapper">
    <div class="site-wrapper-inner">
      <div class="cover-container">
        <div class="masthead clearfix">
          <div class="inner">
            <h3 class="masthead-brand">Roadie</h3>
            <nav>
              <ul class="nav masthead-nav">
                <% if !!current_user %>
                  <li><a href="/trucks">Trucks</a></li>
                  <li><a href="/equipment">Equipment</a></li>
                  <li><a href="/logout">Logout</a></li>
                <% else %>
                  <li><a href="/login">Login</a></li>
                  <li><a href="/signup">Signup</a></li>
                <% end %>
              </ul>
            </nav>
          </div>
        </div>

        <div class="inner cover">
          <%=yield%>  
        </div>

        <div class="mastfoot">
          <div class="inner">
            <p>Band Road Equipment Management - <a href="https://github.com/ThisIsTyDell/roadie-sinatra-app">Roadie</a>, by <a href="https://twitter.com/thisistydell">@thisistydell</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>

